
@media (max-width: 320px) {

body {
	font-size: 16px;
	width:auto;
	float:none;
}

#container {
	max-width: 300px;
	margin: 0 auto;
}

header {
	width: 290px;
	padding: 0;
}

h1 {
	font-size: 20px;
	padding-left: 1em;
	padding-top: 1em;
}

#intro {
	position: static;
	padding:1em 0;
}


img {
	position: static;
	max-width: 100%;
}

#content img {
	float:none;
	padding-right: 1em;
}

nav {
	position: static;
}


nav ul li {
	display: block;
	padding-top: .75em;
	padding-bottom: .75em;

}

article {
	text-align: left;
}

iframe {
	display:none;
}

#content article p, #content article h3 {
	margin-left:0;
	padding-left: 1em;
}


}

